<div id="welcomeContainer" style="display: none;">
    <!--<div class="cloudDiv">
        <div class="cloudTop"></div>
        <div class="cloudBottom"></div>
    </div>-->
    <div id="welcomeContent">
        <img id="welcomeImageSeal" src="assets/images/SealCircle.png"/>
        <span id="welcomeHeader">BIENVENIDO A AREN LAUNCHER</span>
        <span id="welcomeDescription">Este es el Launcher EXCLUSIVO para el servidor de Roleplay Medieval, Aren. Teniendo este Launcher, vas a tener los beneficios de actualizaciones automaticas para siempre! Gracias por apoyar el proyecto :).</span>
        <br>
        <span id="welcomeDescCTA">Estas tan solo a unos clicks de ingresar a Aren Server...</span>
        <button id="welcomeButton">
            <div id="welcomeButtonContent">
                CONTINUAR
                <svg id="welcomeSVG" viewBox="0 0 24.87 13.97">
                    <defs>
                        <style></style>
                    </defs>
                    <polyline class="" points="0.71 13.26 12.56 1.41 24.16 13.02"/>
                </svg>
            </div>
        </button>
    </div>
    <script src="./assets/js/scripts/welcome.js"></script>
</div>